@import "mail-nav.scss";
@import "mail-component.scss";

.gap_10 {
  gap:10px;
}
.gap_20 {
  gap:20px;
}

.is-min-width-0 {
   min-width:0;
}

.mail {
   width: 100%;
   height: calc(100% - 56px);
   display: flex;
   flex-direction: column;
   position:relative;
   &.has-content {
      height: fit-content;
      padding-bottom:0!important;
      .mail-list {
         display:none;
      }
   }
   .mail-list {
      flex: 1 1 0%;
      display:flex;
      flex-direction:column;
      user-select:none;
   }
   .pagination {
      width:100%;
      justify-content:center;
      margin:auto 0 0 0;
      &-list, &-previous, &-next {
         order:1;
      }
      &-list {
         width:fit-content;
         flex:none;
         li {
            a {
               border:none;
            }
         }
      }
   }
}
.categories-bar {
   padding: 0 5px;
   position: relative;

   .column:nth-of-type(3) {
      overflow: hidden;

      ul {
         position: relative;
         display: flex;
         flex-wrap: nowrap;
         overflow: hidden;

         li {
            position: relative;
            display: flex;
            height: 35px;
            align-items: center;
            padding: 5px 20px;
            font-weight: 500;
            color: var(--col-secondary-20);
            position: relative;
            cursor: pointer;
            white-space: nowrap;

            &::after {
               position: absolute;
               content: "";
               display: block;
               width: 100%;
               height: 2px;
               bottom: 0;
               left: 0;
               background-color: #ECF0FF;
               z-index: 9;
            }

            &.is-active {
               &::after {
                  background-color: rgba(174, 198, 255, 1);
               }
            }
         }
      }
   }

   .column.other {
      position: absolute;
      right: -8px;
      top: 50%;
      transform: translateY(-50%);
      height: 35px;
      margin-left: auto;
      padding: 0;
      z-index: 10;
      background-color: #FBFBFB;
      border-bottom: 2px inset rgba(236, 240, 255, 1);
   }
}
.mail-list {
   & > ul {
      width: 100%;
      padding-bottom:40px;
      .mail-item {
         padding: 10px 5px;
         position: relative;
         background-color: #fff;
         border-bottom: 1px solid #ECF0FF;

         &:hover {
            box-shadow: 0px 4px 8px rgba(0,0,0,0.07);
            z-index: 9;

            .mail-action {
               display: flex;
            }
         }

         &:nth-of-type(n+1) {
            background-color: #FBFBFB;
         }

         &.is_read {
            background-color: #FBFBFB;
            opacity:0.5;
            &:hover {
               opacity: 1;
            }

            .columns {
               .column {
                  &.mail-title {
                     color: #575E72;

                     div * {
                        font-weight: 400 !important;
                     }
                  }

                  &.mail-body {
                     .mail-content {
                        span.has-text-weight-semibold {
                           color: #575E72;
                           font-weight: 500 !important;
                        }
                        span:last-of-type {
                           color:var(--col-secondary-60);
                        }
                     }
                  }
               }
            }
         }

         &.is_selected {
            background-color: rgba(236, 240, 255, 1);

            &:hover {
               box-shadow: none;
            }
         }

         .columns {
            cursor: pointer;

            .column {
               &.mail-title {
                  width: 180px;
                  color: var(--col-secondary-10);

                  div {
                     white-space: pre;

                     & > span:nth-of-type(1) {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-weight: 500;

                        span {
                           white-space: nowrap;

                           &.draft {
                              color: var(--col-error-40);
                              font-weight: 600;
                           }
                        }
                     }

                     & > span:nth-of-type(2) {
                        margin-left: 4px;
                        font-weight: 500;
                     }
                  }
               }

               &.mail-body {
                  min-width: 0;

                  .mail-content {
                     display: flex;
                     align-content: center;
                     gap: 5px;
                     flex-wrap: nowrap;

                     span.has-text-weight-semibold {
                        max-width: 100%;
                        color: var(--col-secondary-10);
                     }

                     span:last-of-type {
                        flex: 1 1 0%;
                     }
                  }

                  .mail-attact {
                     display: flex;
                     flex-wrap: nowrap;
                     gap: 5px;
                     .button {
                        padding-left:8px;
                        padding-right:8px;
                     }
                  }
               }

               &.mail-label {
                  max-width: 250px;
                  overflow: hidden;
                  text-align: right;
                  white-space: nowrap;

                  .tag {
                     display: inline-block;
                     zoom: 1;
                     width: fit-content;
                     max-width: 90px;
                     overflow: hidden;
                     text-overflow: ellipsis;
                     white-space: nowrap;
                     line-height: 24px;
                     margin-left: 5px;
                  }
               }

               &.mail-time {
                  width: 90px;
                  text-align: right;
                  font-size:12px;
                  font-weight:500;
               }
            }
         }

         .mail-action {
            position: absolute;
            right: 0;
            height: 100%;
            top: 0;
            background-color: inherit;
            padding: 10px 5px;
            gap: 5px;
            display: none;
         }
      }
   }
}
.mail-action-bar {
   position:absolute;
   z-index:99;
   width:100%;
   background-color:white;
   bottom:0;
   padding:10px 20px;
   border-radius:6px;
   border-top:1px solid #fafafa;
   .is-flex {
      & > div {
         & > .dropdown {
            .dropdown-item {
               &:hover {
                  background-color:transparent;
               }
            }

            & > .dropdown-menu {
               & > .dropdown-content {
                  overflow: visible;
                  .dropdown-item {
                     gap:8px;
                  }
                  .dropdown {
                     .dropdown-trigger {
                        .button {
                           padding:0;
                           gap:8px;
                        }
                     }

                     .dropdown-menu {
                        right: calc(100%);
                        bottom: 0;
                     }
                  }
               }
            }
         }
      }
   }
}
.reply-mail {
   width: 100%;
   padding-left: 40px;

   .add-mail {
      .mail-user {
         background-color: transparent;
      }

      .add-mail-editor {
         position: relative;

         #QuillToolBar {
            position: absolute;
            width: 100% !important;
            right: 0;
            box-shadow: none;
            bottom: 0;
         }

         #QuillEditor {
            padding-bottom:60px;
         }
      }
   }
}
.add-mail {
   width: 100%;
   min-height: calc(100% - 56px);
   padding: 20px 20px 60px 20px;

   & .add-mail {
      padding: 0;
      width: 100%;

      .mail-footer {
         display: none;
      }
   }
}
.mail-user {
   width: 100%;
   padding: 7px 10px;
   display: flex;
   flex-wrap: wrap;
   background-color: #ECF0FF;
   border-radius: 5px;
   gap: 10px;

   .avatar {
      width: fit-content;
      gap: 5px;

      p {
         font-size: 12px;
         font-weight: 500;
      }
   }

   input#title {
      width: 100%;
      border: none;
      outline: none;
      line-height: 35px;
      height: 24px;
      background: transparent;
      min-width: 200px;
   }

   & > div.is-flex {
      align-items: center;
      gap: 5px;
      border: 1px solid var(--col-secondary-80);
      border-radius: 18px;
      padding: 0 5px;
      height: 24px;
   }

   .dropdown {
      span.material-icons-outlined {
         order: -1;
      }
   }

   & > div:not(.is-flex):not(.dropdown) {
      position: relative;
      flex: 1 1 0%;

      input {
         width: 100%;
         border: none;
         outline: none;
         line-height: 35px;
         height: 24px;
         background: transparent;
         min-width: 200px;
      }

      &:hover {
         .suggest {
         }
      }

      .suggest {
         display: flex;
         flex-direction: column;
         gap: 10px;
         padding: 10px;
         width: fit-content;

         &:empty {
            display: none;
         }
      }
   }

   #QuillToolBar {
      position: fixed;
   }
}
.nav.mail-nav:not(.is-collapse) {
  & + #content {
    .main_content {
      .add-mail {
        .add-mail-editor {
          #QuillToolBar {
            width: calc(100% - 200px - 20px);
          }
        }
      }
    }
  }
}
.add-mail-editor {
  #QuillToolBar {
    position: fixed;
    width: calc(100% - 60px - 20px);
    transition: all 200ms ease;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    background: #fff;
    z-index: 99;

    .ql-picker {
      .ql-picker-options {
        bottom:100%;
        top:auto;
        margin-bottom:-1px;
        margin-top:auto;
      }
    }

    .button.custom-button {
      float: left;
      background: inherit;
      height: 35px;
      width: fit-content;
      display: inline-flex;
      padding: 0 20px;

      &.is-primary {
        background: #355caa;

        &:hover {
          color: white;
        }
      }

      &.is-danger {
        background: var(--col-error-60);
        padding: 0 10px;

        &:hover {
          color: white;
        }
      }

      &.is-ghost {
        padding: 0 10px;
      }
    }

    div.is-flex {
      width: fit-content;
      display: inline-flex;
      float: right;

      &:nth-of-type(1) {
        flex: 1 1 0%;

        .ql-picker-options {
          top: auto;
          bottom: 100%;
        }
      }
    }
  }

  #QuillEditor {
    border: none;
  }
}
.add-mail-survey {
   .survey-body {
      border-radius:8px;
      padding:20px;
      background-color: #ECF0FF;
      input.input {
         background:transparent;
      } 
   }
}

//mail detail
.add-mail-detail {
   min-height: auto;
   padding:0;
   & > .columns:not(.mail_from) {
      & > .column:not(.is-narrow) {
         white-space:nowrap;
         min-width:0;
         overflow:hidden;
         text-overflow:ellipsis;
      }
   }
}
.mail_from {
   .column:nth-of-type(1) {
      & > .is-flex {
         width: 100%;

         & > div {
            position: relative;
            width: 100%;

            & > div {

               & > div {
                  display: flex;
                  position: relative;
                  width: fit-content;
                  max-width: 200px;
                  height: 16px;

                  & > p {
                     padding-right: 30px;

                     span.material-icons-outlined {
                        position: absolute;
                        right: 0;
                        top: -4px;
                        user-select: none;
                     }
                  }

                  & > span {
                     display: inline-block;
                     min-width: 30px;
                     font-size: 12px;
                  }
               }
            }
         }

         position: relative;

         .mail_from_list {
            position: absolute;
            width: fit-content;
            height: fit-content;
            border-radius: 4px;
            display: none;
            flex-direction: column;
            gap: 10px;
            background-color: white;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
            z-index: 99;
            top: 100%;
            left: 100%;

            &.is_active {
               display: flex;
            }

            div {
               display: flex;
               gap: 10px;
               font-size: 12px;

               & > span {
                  display: block;
                  width: 55px;
                  font-weight: 500;
               }

               p {
                  width: calc(100% - 55px - 10px);

                  &.has-text-weight-semibold {
                     white-space: nowrap;
                  }

                  span {
                     font-weight: 400;
                  }
               }
            }
         }
      }
   }
}

.add-mail-survey {
   &.is-cancel {
      & > :nth-child(2) {
         opacity:0.2;
      }
   }
   .survey-tab {
      .button {
         border: none;
         background-color: #ECF0FF;
         color: #355caa;
         opacity: 0.5;
         border-radius: 4px 4px 0 0;

         &.is-active {
            opacity: 1;
         }
      }

      & + .survey-body {
         border-radius:0 8px 8px 8px;
      }
   }

   .user-not-answer {
      width: fit-content;
   }

   .user-not-answer, .user-answer {
      position: relative;

      &:hover {
         .list {
            display: flex;
         }
      }

      .list {
         position: absolute;
         right: 0;
         top: 100%;
         padding: 10px;
         background-color: #fff;
         border-radius: 4px;
         display: none;
         width: fit-content;
         flex-direction: column;
         gap: 10px;
         max-height: 500px;
         overflow-x: hidden;
         overflow-y: auto;
         z-index: 99;
         box-shadow: 0px 4px 8px rgba(0,0,0,0.07);
      }
   }

   .user-answer {
      width: fit-content;
      gap: 5px;

      & > p {
         min-width: 130px;
         text-align: right;
      }

      & > span:not(.material-icons) {
         width: 50px;
         text-align: right;
      }

      .progress {
         width: 150px;
         margin: 0;
         height: 4px;
         position: relative;

         &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 0;
         }

         &::before {
            width: 100%;
            background: var(--col-secondary-80);
            opacity: 0.5;
         }
      }

      .list {
         right: auto;
         left: 0;
      }
   }
}
.mail-reply-content {
   padding: 20px 20px 20px 40px;
   background-color: #ECF0FF;
   margin-bottom: 10px;
   opacity: 0.5;
   position: relative;
   max-height: 100px;
   overflow: hidden;
   transition: all 200ms ease;
   cursor: pointer;

   &.is-active {
      opacity: 1;
      max-height: 5000px;
   }

   .mail-reply-content {
      opacity: 1;
      max-height: 5000px;
      pointer-events: none;
      padding-left: 20px;

      &::before {
         left: 0;
      }
   }

   &::before {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      top: 20px;
      bottom: 20px;
      left: 20px;
      background-color: rgba(0,0,0,0.2);
   }
}

//mail detail typo
.add-mail-detail {
   .add-mail-editor,.mail-reply-content {
      h1, h2, h3, h4, h5, p, span, a {
         line-height: 1.5em;
         word-break: break-word;
      }

      h1 {
         font-size: 2em;
      }

      h2 {
         font-size: 1.5em;
      }

      h3 {
         font-size: 1.7em;
      }

      h4 {
         font-size: 1em;
      }

      h5 {
         font-size: 0.83em;
      }

      ul, ol {
         padding-left: 40px;
      }
   }
}

.context-menu {
   position: fixed;
   background-color: white;
   border-radius: 4px;
   box-shadow: 0 4px 8px rgba(0,0,0,0.14);
   padding: 10px 0;
   .blazor-context-menu__list {
      padding-left:0;
      padding-right:0;
      .context-menu-item {
         position: relative;
         padding: 10px 20px;
         &::after {
            right:12px;
            border-width:4px;
         }
         &:hover {
            background-color: rgba(0,0,0,0.05);
         }

         .button {
            padding: 0;
         }
      }
      hr {
         opacity:0.3;
      }
   }
}