#myMap {
   width: 100%;
   min-height: 400px;

   .NavBar_MapTypeButtonContainerWrapper {
      display: none;
   }

   .NavBar_DropDown {
      display:none;
   }
}

#mapSearch {
   position: absolute;
   z-index: 9;
   top: 10px;
   left: 10px;

   &.control.has-icons-left, &.control.has-icons-right {
      .icon {
         cursor: pointer;
         pointer-events: all;
      }
   }
}