#myMap {
  width: 100%;
  min-height: 400px;
}
#myMap .NavBar_MapTypeButtonContainerWrapper {
  display: none;
}
#myMap .NavBar_DropDown {
  display: none;
}

#mapSearch {
  position: absolute;
  z-index: 9;
  top: 10px;
  left: 10px;
}
#mapSearch.control.has-icons-left .icon, #mapSearch.control.has-icons-right .icon {
  cursor: pointer;
  pointer-events: all;
}
