.modal#connect {
  justify-content: flex-end;
  top: auto;
  height: fit-content;
  overflow: visible;
  bottom: 0;
}
.modal#connect.is-active {
  bottom: 20px;
}
.modal#connect.is_success .modal-card-body::after {
  background: #0dba8f;
}
.modal#connect.is_success .modal-card-body .icon-text .icon {
  color: #0dba8f;
}
.modal#connect .modal-card {
  width: 100%;
  max-width: 400px;
  padding: 0 20px;
  overflow: visible;
}
.modal#connect .modal-card-body {
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.14);
  position: relative;
  padding: 10px 20px;
}
.modal#connect .modal-card-body::after {
  content: "";
  display: block;
  height: 100%;
  width: 6px;
  position: absolute;
  top: 0;
  left: 0;
  background: #485fc7;
  z-index: 9;
}
.modal#connect .modal-card-body .icon-text {
  align-items: flex-start;
}
.modal#connect .modal-card-body .icon-text .icon {
  width: 24px;
  height: 24px;
  color: #485fc7;
  margin-right: 10px;
}
.modal#connect .modal-card-body .icon-text .icon * {
  font-size: 24px;
}
.modal#connect .modal-card-body .icon-text span:last-child {
  overflow: visible;
  text-overflow: unset;
  white-space: normal;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 4px solid var(--color-main);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--color-main) transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.restored_popup {
  position: fixed;
  bottom: 20px;
  left: 20px;
  max-width: calc(100vw - 40px);
  z-index: 999999;
  cursor: pointer;
}
.restored_popup li {
  position: relative;
  padding: 20px;
  background: white;
  border-radius: 6px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.14);
  max-width: 400px;
  z-index: 3;
  transition: all 200ms ease;
}
.restored_popup li::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background: #eb2828;
}
.restored_popup li .restored_close {
  position: absolute;
  right: 20px;
  top: 20px;
}
.restored_popup li h5, .restored_popup li p {
  padding-right: 40px;
}
.restored_popup li h5 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}
.restored_popup li p {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
}
.restored_popup li + li {
  position: absolute;
}
.restored_popup li:nth-of-type(2) {
  top: -15px;
  z-index: 2;
  transform: scale(0.95);
}
.restored_popup li:nth-of-type(2):hover {
  top: -50px;
  transform: scale(1);
}
.restored_popup li:nth-of-type(3) {
  top: -30px;
  z-index: 1;
  transform: scale(0.9);
}
.restored_popup li:nth-of-type(3):hover {
  top: -65px;
  transform: scale(1);
}

#cookieConsent {
  padding: 1rem;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 999;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.14);
  width: calc(100% - 2rem);
  max-width: 500px;
  font-size: 14px;
  border-radius: 4px;
}
#cookieConsent button {
  margin-top: 1rem;
}
