.profile-header {
  position: sticky;
  top: -25px;
  background-color: #fafafa;
  z-index: 1;
}

.profile-process li {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.profile-process li:nth-of-type(2n+1) {
  background-color: rgba(87, 143, 255, 0.0705882353);
}
.profile-process li > .columns {
  width: 100%;
}
.profile-process li > .columns .column:nth-of-type(1) {
  position: relative;
}
.profile-process li > .columns .column:nth-of-type(1) div:not(.last)::after {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  width: 2px;
  top: 30px;
  left: calc(50% + 9px);
  transform: translateX(-50%);
  background: linear-gradient(90deg, #d4e2ff 50%, transparent 50%), linear-gradient(90deg, #d4e2ff 50%, transparent 50%), linear-gradient(0deg, #d4e2ff 50%, transparent 50%), linear-gradient(0deg, #d4e2ff 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 1px 0px, 0 0, 2px 15px, 0 0;
  background-position: 0px 0px, 2px 100px, 0px 100px, 2px 0px;
  padding: 10px;
  animation: border-dance 12s infinite linear;
}
.profile-process li > .columns .column:nth-of-type(1) div {
  display: flex;
  justify-content: center;
  gap: 5px;
}
.profile-process li > .columns .column:nth-of-type(1) div p {
  font-weight: 700;
}
.profile-process li > .columns .column:nth-of-type(1) div p:nth-of-type(1) {
  text-align: right;
}
.profile-process li > .columns .column:nth-of-type(1) div p:nth-of-type(2) {
  font-size: 24px;
  line-height: 20px;
  color: #d4e2ff;
}
.profile-process li > .columns .column:nth-of-type(1) div p:nth-of-type(1), .profile-process li > .columns .column:nth-of-type(1) div p:nth-of-type(3) {
  width: 90px;
}
.profile-process li > .columns .column:nth-of-type(2) .column:nth-of-type(1) p {
  font-weight: 600;
  margin-bottom: 10px;
}
.profile-process li > .columns .column:nth-of-type(2) .column:nth-of-type(2) p {
  margin-bottom: 10px;
}
.profile-process li > .columns .column:nth-of-type(2) .column:nth-of-type(2) p.changed {
  color: #0F913D;
  font-weight: 600;
}
.profile-process li > .columns .duration {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background: #d4e2ff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500 !important;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

.dropdown_multiple.is_right > .dropdown-menu {
  left: auto;
  right: 0;
}
.dropdown_multiple.is_right .dropdown .dropdown-menu {
  left: auto;
  right: calc(100% + 1.5rem);
}
.dropdown_multiple .dropdown-item {
  position: relative;
}
.dropdown_multiple .dropdown-item:hover {
  background-color: #f5f5f5;
}
.dropdown_multiple .dropdown-content {
  overflow-y: visible;
  max-height: fit-content;
}
.dropdown_multiple .dropdown {
  width: 100%;
}
.dropdown_multiple .dropdown .dropdown-trigger {
  width: 100%;
}
.dropdown_multiple .dropdown .dropdown-trigger .button {
  width: 100%;
  justify-content: space-between;
  border: none;
  background: transparent;
}
.dropdown_multiple .dropdown .dropdown-menu {
  left: calc(100% + 1.5rem);
  top: -10px;
}

@keyframes border-dance {
  0% {
    background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
  }
  100% {
    background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
  }
}
