
.tabs.is-boxed~.card {
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #dbdbdb;
  border-top: 0px;
  box-shadow: none;
}

.storage_item .item_delete,
.storage_item:hover .item_delete+.item_format {
  display: none;
}
.storage_item:hover .item_delete {
  display: inline-flex;
}
.storage_item .item_format {
  margin-left: 0px !important;
}