@page "/homepage"
<section class="column is-full">
    <div class="columns is-variable is-0 is-multiline" id="homepage">
        <section id="content" class="column has_sidebar has_column">
            <!--!--><section class="main_content homepage">
                <div class="card">
                    <div class="image">
                        <img src="https://storage.googleapis.com/fastdo-storage.appspot.com/237O695B8A/237O78146A.png"><!--!-->
                        <p>
                            <!--!-->
                            Chào mừng trở lại, Kiên<!--!-->!
                        </p>
                    </div><!--!-->
                    <h5>Công ty TNHH Quản trị số Fastdo</h5><div class="field is-grouped">
                        <div class="control is-expanded">
                            <!--!-->
                            Dung lượng: <strong>0.81 / 10 GB</strong>
                        </div><!--!-->
                        <div class="control">
                            <!--!-->
                            Hết hạn:
                            <span class="">30/08/25</span>
                        </div>
                    </div><!--!-->
                    <progress class="progress is-success" value="8" max="100">
                        8<!--!-->%
                    </progress><div class="scrolly">
                        <ul class="columns is-variable is-multiline is-1 is-vcentered">
                            <!--!-->
                            <li class="column is-full">
                                <div class="field is-grouped">
                                    <div class="control is-expanded">
                                        Sản phẩm
                                    </div>
                                    <div class="control" style="width:75px;">
                                        Hết hạn
                                    </div>
                                    <div class="control" style="width:90px;">
                                        Người dùng
                                    </div>
                                </div>
                            </li>
                            <li class="column is-full" title="Còn 11 năm">
                                <div class="field is-grouped">
                                    <div class="control is-expanded">
                                        <span class="icon-text">
                                            <span class="icon image is-24x24 mb-0 mr-2" style="box-shadow: 0 0 8px rgba(0,0,0,0.06);"><img src="/images/icon/fOKRs.png" alt="module-image"></span><!--!-->
                                            <span class="has-text-weight-semibold">fOKRs</span>
                                        </span>
                                    </div><!--!-->
                                    <div class="control" style="width:75px;"><span class=" " style="white-space:nowrap">31/07/2035</span></div><!--!-->
                                    <div class="control" style="width:90px;"><span class="">40/50</span></div>
                                </div>
                            </li>
                            <li class="column is-full" title="Còn 11 năm">
                                <div class="field is-grouped">
                                    <div class="control is-expanded">
                                        <span class="icon-text">
                                            <span class="icon image is-24x24 mb-0 mr-2" style="box-shadow: 0 0 8px rgba(0,0,0,0.06);"><img src="/images/icon/fWork.png" alt="module-image"></span><!--!-->
                                            <span class="has-text-weight-semibold">fWork</span>
                                        </span>
                                    </div><!--!-->
                                    <div class="control" style="width:75px;"><span class=" " style="white-space:nowrap">31/08/2035</span></div><!--!-->
                                    <div class="control" style="width:90px;"><span class="">40/50</span></div>
                                </div>
                            </li>
                            <li class="column is-full" title="Còn 11 năm">
                                <div class="field is-grouped">
                                    <div class="control is-expanded">
                                        <span class="icon-text">
                                            <span class="icon image is-24x24 mb-0 mr-2" style="box-shadow: 0 0 8px rgba(0,0,0,0.06);"><img src="/images/icon/fTodo.png" alt="module-image"></span><!--!-->
                                            <span class="has-text-weight-semibold">fTodolist</span>
                                        </span>
                                    </div><!--!-->
                                    <div class="control" style="width:75px;"><span class=" " style="white-space:nowrap">31/07/2035</span></div><!--!-->
                                    <div class="control" style="width:90px;"><span class="">40/50</span></div>
                                </div>
                            </li>
                            <li class="column is-full" title="Còn 6 năm">
                                <div class="field is-grouped">
                                    <div class="control is-expanded">
                                        <span class="icon-text">
                                            <span class="icon image is-24x24 mb-0 mr-2" style="box-shadow: 0 0 8px rgba(0,0,0,0.06);"><img src="/images/icon/fEdu.png" alt="module-image"></span><!--!-->
                                            <span class="has-text-weight-semibold">fTrain</span>
                                        </span>
                                    </div><!--!-->
                                    <div class="control" style="width:75px;"><span class=" " style="white-space:nowrap">31/07/2030</span></div><!--!-->
                                    <div class="control" style="width:90px;"><span class="">40/50</span></div>
                                </div>
                            </li>
                            <li class="column is-full" title="Còn 11 năm">
                                <div class="field is-grouped">
                                    <div class="control is-expanded">
                                        <span class="icon-text">
                                            <span class="icon image is-24x24 mb-0 mr-2" style="box-shadow: 0 0 8px rgba(0,0,0,0.06);"><img src="/images/icon/fTimekeeping.png" alt="module-image"></span><!--!-->
                                            <span class="has-text-weight-semibold">fCheckin</span>
                                        </span>
                                    </div><!--!-->
                                    <div class="control" style="width:75px;"><span class=" " style="white-space:nowrap">31/07/2035</span></div><!--!-->
                                    <div class="control" style="width:90px;"><span class="">40/50</span></div>
                                </div>
                            </li>
                            <li class="column is-full" title="Còn 2 năm">
                                <div class="field is-grouped">
                                    <div class="control is-expanded">
                                        <span class="icon-text">
                                            <span class="icon image is-24x24 mb-0 mr-2" style="box-shadow: 0 0 8px rgba(0,0,0,0.06);"><img src="/images/icon/fKaizen.png" alt="module-image"></span><!--!-->
                                            <span class="has-text-weight-semibold">fKaizen</span>
                                        </span>
                                    </div><!--!-->
                                    <div class="control" style="width:75px;"><span class=" " style="white-space:nowrap">31/08/2026</span></div><!--!-->
                                    <div class="control" style="width:90px;"><span class="">40/50</span></div>
                                </div>
                            </li>
                            <li class="column is-full" title="Còn 6 năm">
                                <div class="field is-grouped">
                                    <div class="control is-expanded">
                                        <span class="icon-text">
                                            <span class="icon image is-24x24 mb-0 mr-2" style="box-shadow: 0 0 8px rgba(0,0,0,0.06);"><img src="/images/icon/fCfr.png" alt="module-image"></span><!--!-->
                                            <span class="has-text-weight-semibold">fCFRs</span>
                                        </span>
                                    </div><!--!-->
                                    <div class="control" style="width:75px;"><span class=" " style="white-space:nowrap">31/10/2030</span></div><!--!-->
                                    <div class="control" style="width:90px;"><span class="">39/50</span></div>
                                </div>
                            </li>
                            <li class="column is-full" title="Còn 6 năm">
                                <div class="field is-grouped">
                                    <div class="control is-expanded">
                                        <span class="icon-text">
                                            <span class="icon image is-24x24 mb-0 mr-2" style="box-shadow: 0 0 8px rgba(0,0,0,0.06);"><img src="/images/icon/fKpis.png" alt="module-image"></span><!--!-->
                                            <span class="has-text-weight-semibold">fKPIs</span>
                                        </span>
                                    </div><!--!-->
                                    <div class="control" style="width:75px;"><span class=" " style="white-space:nowrap">30/11/2030</span></div><!--!-->
                                    <div class="control" style="width:90px;"><span class="">40/50</span></div>
                                </div>
                            </li>
                            <li class="column is-full" title="Còn 10 tháng">
                                <div class="field is-grouped">
                                    <div class="control is-expanded">
                                        <span class="icon-text">
                                            <span class="icon image is-24x24 mb-0 mr-2" style="box-shadow: 0 0 8px rgba(0,0,0,0.06);"><img src="/images/icon/fProfile.png" alt="module-image"></span><!--!-->
                                            <span class="has-text-weight-semibold">fProfile</span>
                                        </span>
                                    </div><!--!-->
                                    <div class="control" style="width:75px;"><span class=" " style="white-space:nowrap">06/12/2024</span></div><!--!-->
                                    <div class="control" style="width:90px;"><span class="">40/50</span></div>
                                </div>
                            </li>
                            <li class="column is-full" title="Còn 1 năm">
                                <div class="field is-grouped">
                                    <div class="control is-expanded">
                                        <span class="icon-text">
                                            <span class="icon image is-24x24 mb-0 mr-2" style="box-shadow: 0 0 8px rgba(0,0,0,0.06);"><img src="/images/icon/fMeeting.png" alt="module-image"></span><!--!-->
                                            <span class="has-text-weight-semibold">fMeeting</span>
                                        </span>
                                    </div><!--!-->
                                    <div class="control" style="width:75px;"><span class=" " style="white-space:nowrap">31/12/2025</span></div><!--!-->
                                    <div class="control" style="width:90px;"><span class="">40/50</span></div>
                                </div>
                            </li>
                            <li class="column is-full" title="Còn 1 năm">
                                <div class="field is-grouped">
                                    <div class="control is-expanded">
                                        <span class="icon-text">
                                            <span class="icon image is-24x24 mb-0 mr-2" style="box-shadow: 0 0 8px rgba(0,0,0,0.06);"><img src="/images/icon/fstorage.png" alt="module-image"></span><!--!-->
                                            <span class="has-text-weight-semibold">fStorage</span>
                                        </span>
                                    </div><!--!-->
                                    <div class="control" style="width:75px;"><span class=" " style="white-space:nowrap">30/08/2025</span></div><!--!-->
                                    <div class="control" style="width:90px;"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!--!-->
                <div class="card" style="overflow:hidden">
                    <!--!--><section id="slider" class="mb-4">
                        <div class="banner_main">
                            <div class="carousel">
                                <!--!--><div class="WMBSC" b-ym8nfzch4d=""><div class="WMBSC-content slick-initialized slick-slider slick-dotted" b-ym8nfzch4d="" _bl_494ac766-4e56-45b5-9e4b-e52192c6525e=""><div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 7580px; transform: translate(-3032px, 0px);"><a class="image slick-slide slick-cloned" target="_blank" title="công bố OKRs quý I.2024" data-slick-index="-1" id="" aria-hidden="true" style="width: 1516px;" tabindex="-1"><img src="https://storage.googleapis.com/fastdo-storage.appspot.com/237O695B8A/638411710710227618_welcome-newbie-(21).png" alt="img"></a><a class="image slick-slide" href="https://docs.google.com/spreadsheets/d/1QJka5lPTdkcT21Nj8rkP1wLf3BaFZS9oQX-jK_Uv_EY/edit#gid=2115162253" target="_blank" title="GIẢI TRÌNH CÔNG THÁNG 1" data-slick-index="0" aria-hidden="true" style="width: 1516px;" tabindex="-1" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00"><img src="https://storage.googleapis.com/fastdo-storage.appspot.com/237O695B8A/638421247940622945_welcome-newbie-(22).png" alt="img"></a><a class="image slick-slide slick-current slick-active" target="_blank" title="công bố OKRs quý I.2024" data-slick-index="1" aria-hidden="false" style="width: 1516px;" tabindex="0" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01"><img src="https://storage.googleapis.com/fastdo-storage.appspot.com/237O695B8A/638411710710227618_welcome-newbie-(21).png" alt="img"></a><a class="image slick-slide slick-cloned" href="https://docs.google.com/spreadsheets/d/1QJka5lPTdkcT21Nj8rkP1wLf3BaFZS9oQX-jK_Uv_EY/edit#gid=2115162253" target="_blank" title="GIẢI TRÌNH CÔNG THÁNG 1" data-slick-index="2" id="" aria-hidden="true" style="width: 1516px;" tabindex="-1"><img src="https://storage.googleapis.com/fastdo-storage.appspot.com/237O695B8A/638421247940622945_welcome-newbie-(22).png" alt="img"></a><a class="image slick-slide slick-cloned" target="_blank" title="công bố OKRs quý I.2024" data-slick-index="3" id="" aria-hidden="true" style="width: 1516px;" tabindex="-1"><img src="https://storage.googleapis.com/fastdo-storage.appspot.com/237O695B8A/638411710710227618_welcome-newbie-(21).png" alt="img"></a></div></div></div><!--!--><div class="WMBSC-loading" b-ym8nfzch4d="">Loading...</div></div><!--!-->
                                <div class="dots"><ul class="slick-dots" style="" role="tablist"><li class="" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 2" tabindex="-1">1</button></li><li role="presentation" class="slick-active"><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 2" tabindex="0" aria-selected="true">2</button></li></ul></div>
                                <div class="arrows"><a class="material-icons-round slick-arrow" style="">chevron_left</a><span class="material-icons-round slick-arrow" style="">chevron_right</span></div>
                            </div>
                        </div>
                    </section><!--!-->
                    <div class="columns is-vcentered is-variable is-mobile is-multiline mb-2">
                        <div class="column">
                            <!--!--><div class="control search_bar  is-expanded has-icons-left has-icons-right has_suggest" title="Nhấn Ctrl + &quot;/&quot; để tìm kiếm">
                                <input id="search_241UD" class="input is-rounded is-small" type="text" placeholder="Tìm ứng dụng" autocomplete="off"><!--!-->
                                <!--!--><span class="icon is-left"><i class="material-icons-outlined is-size-5">search</i></span>
                                <a class="icon is-right has-text-danger">
                                    <!--!--><i class="material-icons-outlined">
                                        close
                                    </i>
                                </a>
                            </div>
                        </div>
                    </div><!--!-->
                    <!--!--><h5>
                        Ứng dụng yêu thích
                    </h5>
                    <div class="module-list"></div><!--!-->
                    <!--!--><h5>
                        Danh sánh ứng dụng
                    </h5>
                    <div class="module-list">
                        <div class="module-item">
                            <a class="field is-grouped" href="blogs">
                                <div class="control"><span class="icon image is-22x22"><img src="/images/modules/blogs.png" alt="module-image"></span></div><!--!-->
                                <div class="control is-expanded"><span class="text_1_line">Tin tức</span></div>
                            </a><!--!-->
                            <div class="control">
                                <!--!--><span class="icon">
                                    <span class="material-icons-outlined">
                                        star_border
                                    </span>
                                </span>
                            </div>
                        </div><div class="module-item">
                            <a class="field is-grouped" href="reports/achievement">
                                <div class="control"><span class="icon image is-22x22"><img src="/images/modules/report.png" alt="module-image"></span></div><!--!-->
                                <div class="control is-expanded"><span class="text_1_line">Thống kê</span></div>
                            </a><!--!-->
                            <div class="control">
                                <!--!--><span class="icon">
                                    <span class="material-icons-outlined">
                                        star_border
                                    </span>
                                </span>
                            </div>
                        </div><div class="module-item">
                            <a class="field is-grouped" href="mail">
                                <div class="control"><span class="icon image is-22x22"><img src="/images/modules/email.png" alt="module-image"></span></div><!--!-->
                                <div class="control is-expanded"><span class="text_1_line">Hộp thư</span></div>
                            </a><!--!-->
                            <div class="control">
                                <!--!--><span class="icon">
                                    <span class="material-icons-outlined">
                                        star_border
                                    </span>
                                </span>
                            </div>
                        </div><div class="module-item">
                            <a class="field is-grouped" href="teams">
                                <div class="control"><span class="icon image is-22x22"><img src="/images/modules/group.png" alt="module-image"></span></div><!--!-->
                                <div class="control is-expanded"><span class="text_1_line">Đội nhóm</span></div>
                            </a><!--!-->
                            <div class="control">
                                <!--!--><span class="icon">
                                    <span class="material-icons-outlined">
                                        star_border
                                    </span>
                                </span>
                            </div>
                        </div><div class="module-item">
                            <a class="field is-grouped" href="todolist">
                                <div class="control"><span class="icon image is-22x22"><img src="/images/modules/todolist.png" alt="module-image"></span></div><!--!-->
                                <div class="control is-expanded"><span class="text_1_line">Todolist</span></div>
                            </a><!--!-->
                            <div class="control">
                                <!--!--><span class="icon">
                                    <span class="material-icons-outlined">
                                        star_border
                                    </span>
                                </span>
                            </div>
                        </div><div class="module-item">
                            <a class="field is-grouped" href="work">
                                <div class="control"><span class="icon image is-22x22"><img src="/images/modules/work.png" alt="module-image"></span></div><!--!-->
                                <div class="control is-expanded"><span class="text_1_line">Kế hoạch</span></div>
                            </a><!--!-->
                            <div class="control">
                                <!--!--><span class="icon">
                                    <span class="material-icons-outlined">
                                        star_border
                                    </span>
                                </span>
                            </div>
                        </div><div class="module-item">
                            <a class="field is-grouped" href="okr/checkin">
                                <div class="control"><span class="icon image is-22x22"><img src="/images/modules/okrs.png" alt="module-image"></span></div><!--!-->
                                <div class="control is-expanded"><span class="text_1_line">OKRs</span></div>
                            </a><!--!-->
                            <div class="control">
                                <!--!--><span class="icon">
                                    <span class="material-icons-outlined">
                                        star_border
                                    </span>
                                </span>
                            </div>
                        </div><div class="module-item">
                            <a class="field is-grouped" href="cfr">
                                <div class="control"><span class="icon image is-22x22"><img src="/images/modules/cfrs.png" alt="module-image"></span></div><!--!-->
                                <div class="control is-expanded"><span class="text_1_line">Ghi nhận</span></div>
                            </a><!--!-->
                            <div class="control">
                                <!--!--><span class="icon">
                                    <span class="material-icons-outlined">
                                        star_border
                                    </span>
                                </span>
                            </div>
                        </div><div class="module-item">
                            <a class="field is-grouped" href="kaizen">
                                <div class="control"><span class="icon image is-22x22"><img src="/images/modules/kaizen.png" alt="module-image"></span></div><!--!-->
                                <div class="control is-expanded"><span class="text_1_line">Kaizen</span></div>
                            </a><!--!-->
                            <div class="control">
                                <!--!--><span class="icon">
                                    <span class="material-icons-outlined">
                                        star_border
                                    </span>
                                </span>
                            </div>
                        </div><div class="module-item">
                            <a class="field is-grouped" href="gift/product">
                                <div class="control"><span class="icon image is-22x22"><img src="/images/modules/gift.png" alt="module-image"></span></div><!--!-->
                                <div class="control is-expanded"><span class="text_1_line">Đổi quà</span></div>
                            </a><!--!-->
                            <div class="control">
                                <!--!--><span class="icon">
                                    <span class="material-icons-outlined">
                                        star_border
                                    </span>
                                </span>
                            </div>
                        </div><div class="module-item">
                            <a class="field is-grouped" href="hrm/timekeeping">
                                <div class="control"><span class="icon image is-22x22"><img src="/images/modules/checkin.png" alt="module-image"></span></div><!--!-->
                                <div class="control is-expanded"><span class="text_1_line">Chấm công</span></div>
                            </a><!--!-->
                            <div class="control">
                                <!--!--><span class="icon">
                                    <span class="material-icons-outlined">
                                        star_border
                                    </span>
                                </span>
                            </div>
                        </div><div class="module-item">
                            <a class="field is-grouped" href="kpis/person">
                                <div class="control"><span class="icon image is-22x22"><img src="/images/modules/kpis.png" alt="module-image"></span></div><!--!-->
                                <div class="control is-expanded"><span class="text_1_line">KPIs</span></div>
                            </a><!--!-->
                            <div class="control">
                                <!--!--><span class="icon">
                                    <span class="material-icons-outlined">
                                        star_border
                                    </span>
                                </span>
                            </div>
                        </div><div class="module-item">
                            <a class="field is-grouped" href="profile/detail">
                                <div class="control"><span class="icon image is-22x22"><img src="/images/modules/profile.png" alt="module-image"></span></div><!--!-->
                                <div class="control is-expanded"><span class="text_1_line">Hồ sơ nhân sự</span></div>
                            </a><!--!-->
                            <div class="control">
                                <!--!--><span class="icon">
                                    <span class="material-icons-outlined">
                                        star_border
                                    </span>
                                </span>
                            </div>
                        </div><div class="module-item">
                            <a class="field is-grouped" href="educate/course/list">
                                <div class="control"><span class="icon image is-22x22"><img src="/images/modules/educate.png" alt="module-image"></span></div><!--!-->
                                <div class="control is-expanded"><span class="text_1_line">Đào tạo</span></div>
                            </a><!--!-->
                            <div class="control">
                                <!--!--><span class="icon">
                                    <span class="material-icons-outlined">
                                        star_border
                                    </span>
                                </span>
                            </div>
                        </div><div class="module-item">
                            <a class="field is-grouped" href="meeting">
                                <div class="control"><span class="icon image is-22x22"><img src="/images/modules/meeting.png" alt="module-image"></span></div><!--!-->
                                <div class="control is-expanded"><span class="text_1_line">Quản lý họp</span></div>
                            </a><!--!-->
                            <div class="control">
                                <!--!--><span class="icon">
                                    <span class="material-icons-outlined">
                                        star_border
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</section>
@code {

}
