@inherits LayoutComponentBase

<CascadingValue Value="this">
    <main id="main" class="columns is-gapless is-multiline">
        
        <section class="column is-full">
            <div class="columns is-variable is-0 is-multiline" id="okr">
                @Body
            </div>
        </section>
    </main>
</CascadingValue>
@code {

}
